<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon"type="image/png" href="https://www.pikpng.com/pngl/b/244-2442489_animegirl-animeboy-animeboi-boy-cute-chibi-anime-boy.png" sizes="16x16" >
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        
        {{>footer}}
    </body>
</html>