<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon"type="image/png" href="https://cdn.iconscout.com/icon/free/png-512/dot-22-433567.png" sizes="16x16" >
    </head>
    <body>
        <div id="error">
            {{>header}}
            <img id="poke"src="https://www.wallpaperup.com/uploads/wallpapers/2014/04/29/345763/f13116977ee5ea09649bd1a29e369f04-700.jpg">
            <p class="message">{{message}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>