<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon"type="image/png" href="https://www.nicepng.com/png/full/54-545791_anime-kawaii-kawaii-chibi-cute-chibi-anime-chibi.png" sizes="16x16" >
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p class="message">{{helptext}}</p>
        {{>footer}}
    </body>
</html>