<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="icon" type="image/png"
        href="https://www.kindpng.com/picc/m/92-920246_sakura-sakuraharuno-sakurauchiha-cute-chibi-anime-chibi-anime.png"
        sizes="16x16">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    {{> header}}
    
    <form id="search">
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>