<h1> {{title}} </h1>

<div id="side">
    <div id="side-i">
        <ul>
            <img id="icon"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Circle-icons-cloud.svg/768px-Circle-icons-cloud.svg.png">
            <div id="side-i-i">
                <li ><img id="logo-n" src="/img/logo.png"></li>
                <li class="list"><a href="/">Main</a></li>
                <li class="list"><a href="/about">About</a></li>
                <li class="list"><a href="/help">Help</a></li>
            </div>
            <ul>
    </div>

</div>