h1 {
    color: rgb(15, 20, 82);
    margin-left: 20%;
}
#side{
    width:17%;
    height:100%;
    background-color: rgba(7, 17, 46, 0.8);
    position: fixed;
    visibility: visible;
    opacity: 1;
    left: 0;
    top:0;
    border-color: rgb(7, 17, 46);
    border-right-width: 10px;
    border-left-width: 10px;
    border-top-width: 0px;
    border-style: solid;
}

.list{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:20px;
    color:white;
    font-size: 25px;
}
.list :hover{
    color:rgb(219, 253, 66);
}
#logo-n{
    margin-top:0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    }

a {
    color:white;
    text-decoration: none;
}
#icon{
    padding-top: 20px;
    width:60%;
    margin-bottom: 0;
}

#poke{
    width: 20%;
    background-color: white;
    text-align: center;
    margin-left: 20%;
}
#search{
    margin-left:20%;
}
#message-1,#message-3{
    font-size: larger;
    font-weight: bolder;
}
#weather{
    margin-left:20%;
    margin-right:40%;
}
#error{
    margin-top: 150px;
    text-align: center;
}
.message{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20%;
}
span{
    color: white;
    right: 0;
}
#footer{
    bottom: 0;
    position: fixed;
    left:0;
    width: 100%;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    text-align: left;
}

input{
    border:1px solid #6fbbc9;
    padding:8px;
    width:260px;
}

button{
    cursor: pointer;
    border:1px solid #6fbbc9; 
    background :#194455;
    color:white;
    padding:8px;
}